// -------------------------------------
//   Base
// -------------------------------------
// ----- Base-level tags (body, p, etc.)
// -------------------------------------

html {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: inherit;
}

body, html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #FFF url('../img/background.jpg') no-repeat center top;
    color: $color-primary;
    font-size: 1.25rem;

    @include default-font;
    position: relative;

    @include breakpoint(medium up) {
        font-size: 1.375rem;
    }

    @include breakpoint(large up) {
        background-position-y: 25px;
    }
}

h1, h2, h3, h4 {
    @include bold-font;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    color: $color-secondary;
    text-decoration: underline;
}

a:focus,
a:visited {
    color: $color-secondary;
}

a:hover {
    text-decoration: none;
}

p {
    line-height: 1.4;
    padding-bottom: 25px;
    margin: 0;

    .home & {
        padding-bottom: 35px;
    }
}

ul {
    margin-top: 0;
}
