
.wrapper {
    position: relative;

    @include breakpoint(large up) {
        margin-top: 25px;
    }
}

.paper {
    background: #f6f3df url('../img/bkg-paper-lines.png') no-repeat left top;;
    box-shadow: 3.5px 6.062px 5px 0px rgba(0, 0, 0, 0.27);
    padding: 8vh 10% 10% 10%;
    margin-top: 50px;

    transform: rotate(3deg);
    z-index: 20;

    &.home {
        padding-top: 17%;
    }

    @include breakpoint(medium up) {
        min-height: 1020px;
    }
}

nav {
    position: absolute;
    left: 0;
    top: 240px;
    width: 225px;

    a {
        background-color: $color-secondary;
        color: $color-nav;
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        max-height: 45px;
        padding: 12px 0 12px 15px;
        text-decoration: none;

        @include breakpoint(large up) {
            margin-bottom: 13px;
        }

        &:visited {
            color: $color-nav;
        }

        &.active,
        &:focus {
            background-color: #da9537;
            color: #FFF;
        }
    }
}
