
$global-width: 1140px;
@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

@import 'font-awesome.min';
@import 'settings';
@import 'base';
@import 'layout';


.avatar {
    border-radius: 50%;
    border: 5px solid #bd9258;
    box-shadow: 3.5px 6.062px 5px 0 rgba(0, 0, 0, 0.27);

    position: absolute;
    left: -6%;
    top: -13px;
    width: 26%;
    height: auto;
    z-index: 100;

    @include breakpoint(medium up) {
        border-width: 7px;
        left: -12px;
        top: 635px;
        width: 18.5%;
    }

    @include breakpoint(large up) {
        top: 665px;
    }
}

.logo {
    position: absolute;
    left: 17vw;
    top: 18px;
    z-index: 100;
    width: 80%;

    @include breakpoint(medium up) {
        left: 18px;
        top: 18px;
        width: auto;
    }

    @include breakpoint(large up) {
        top: 32px;
    }
}

.icons {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 13px;
    top: 102%;
    text-align: center;

    @include breakpoint(medium up) {
        left: inherit;
        right: 1.3%;
        top: 40vh;
    }

    @include breakpoint(large up) {
        right: 2.3%;
    }

    li {
        float: left;

        @include breakpoint(medium up) {
            float: none;
        }

        &:last-child a {
            margin-right: 0;
        }
    }

    a {
        color: #7e5535;
        font-size: 40px;
        margin-right: 8px;

        @include breakpoint(medium up) {
            float: none;
            font-size: 52px;
            margin-right: 0;
            top: 38vh;
        }
    }
}

.thumbnail {
    max-width: 100%;
}

.tricks {
    margin-bottom: 15px;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        background-color: rgba(80, 106, 99, .4);
        border-radius: 5px;
        color: #fff;
        display: block;
        flex: 1 auto;
        font-size: 1rem;
        margin: 0 7px 7px 0;
        padding: 5px 10px;
    }
}
