
$global-width: 1140px;
@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

@import 'font-awesome.min';
@import 'settings';
@import 'base';
@import 'layout';


.avatar {
    border-radius: 50%;
    border: 7px solid #bd9258;
    box-shadow: 3.5px 6.062px 5px 0 rgba(0, 0, 0, 0.27);

    position: absolute;
    left: -12px;
    top: 693px;
    width: 18.5%;
    height: auto;
    z-index: 100;
}

.logo {
    position: absolute;
    left: 55px;
    top: 55px;
    z-index: 100;
}

.icons {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 92.5%;
    top: 550px;
    text-align: center;

    a {
        color: #7e5535;
        font-size: 52px;
    }
}
